
img {
    border: 0px;
}

body {
    background: #d7d7d7;
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    color: #003366;
}

#wrapper {
    position: relative;
    margin: auto;

    width: 710px; 
}

#wrapper #tetrisGame {
    position: absolute;
    right: 0px;    

    /* border */
    border-width: 28px 8px 12px 8px;
    -moz-border-image:    url('img/tetrisGame.png') 28 8 12 8 repeat repeat;
    -webkit-border-image: url('img/tetrisGame.png') 28 8 12 8 repeat repeat;
    -o-border-image:      url('img/tetrisGame.png') 28 8 12 8 repeat repeat;
    border-style: solid;
    border-image:         url('img/tetrisGame.png') 28 8 12 8 repeat repeat;
    
    width: 690px;
    height: 560px; /* 600 - 28 - 12*/
    background-color: black;
}


div#tetrisGame div#gameCanvas {
    position: absolute;
    top: 10px;
    left: 30px;
    
    /* border */
    border-width: 14px 7px 42px 7px;
    -moz-border-image:    url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    -o-border-image:      url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    -webkit-border-image: url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    border-style: solid;
    border-image:         url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    
    /**
     * 12 x 18 Squares.
     * width and height set during game startup (index.html)
     */
    background-color: #02060c;
}

/* GAME INFO */

#gameInfo {
    position: absolute;
    top: 10px;
    right: 30px;
    
    /* border */
    border-width: 14px 7px 42px 7px;
    -moz-border-image:    url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    -o-border-image:      url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    -webkit-border-image: url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    border-style: solid;
    border-image:         url('img/gameInfo.png') 14 7 42 7 repeat repeat;
    
    color: #fff;
    width: 160px;
    /* height set during game startup (index.html) */
    height: 460px;
    padding: 10px;
    background-color: #02060c;
}

/* Generic field. */
div#gameInfo div.field {
    /* border */
    border-width: 14px 10px;
    -moz-border-image:    url('img/field.png') 14 10 repeat repeat;
    -o-border-image:      url('img/field.png') 14 10 repeat repeat;
    -webkit-border-image: url('img/field.png') 14 10 repeat repeat;
    border-style: solid;
    border-image:         url('img/field.png') 14 10 repeat repeat;
    
    /* SQUARE_SIZE x 5 = 160 */
    /* width specified by each element with its ID */
    height: 160px;
    background-color: #040d16;
}

div#gameInfo div#nextTetrominoField {
    margin-top: 5px;

    width:  140px; /* 160 - border width */
}

/* It is the one that actually contains the next Tetromino. */
div#gameInfo div#nextTetrominoField .nextTWrapper {
  position: relative;
  width: 0px; height: 0px; /* Will be overriden, GameInfoController.js. */
  margin: auto;
  top: 48px; /* SQUARE_SIZE x 1.5 */
  border: 0px;
}

div#gameInfo div#scoreField {
    width: 120px; /* 160 - border width - padding */
    height: 50px;
    padding: 0px 9px; /* (160 - 142) / 2*/
    margin-top: 5px;
    
    /* text */
    color: #fff;
    font-size: 1.5em;
    line-height: 50px;
    text-align: right;
}

div#gameInfo a#newGameButton {
    display: block;
    margin-top: 5px;
    
    width: 142px;
    height: 56px;
    padding: 0px 9px; /* (160 - 142) / 2*/
    background: transparent url('img/play.png') center top no-repeat;
}

div#gameInfo a#newGameButton:hover {
    background-image: url('img/playHover.png');
}

div#gameInfo a#plink {
    display: block;
    position: absolute;
    bottom: 30px;
    
    background: transparent url('img/octcat.png') left top no-repeat;
    width: 142px;
    height: 32px;
    margin: 0px 9px; /* (160 - 142) / 2*/
    color: #0b2a48;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 1.4pt;
    font-weight: 600;
    line-height: 35px;
}

div#gameInfo a#plink:hover {
    color: #153e65;
    background-image: url('img/octcatHover.png');
}

/* GAME OVER */

div#tetrisGame div#gameoverSplash {
    position: absolute;
    top: 100px;
    
    /* Important: width & height defined in tetrisGame.js */
    background: transparent url('img/defeat.png') center top no-repeat;
}

/* BOARD */

.square {
    position: absolute;
    /* SQUARE_SIZE = 32 */
    width:  30px; /* 32 - 2 x border */
    height: 30px; /* 32 - 2 x border */
    border: 1px solid #02060c;
    border-radius: 4px;
}

.LINESHP {background-color: #A000F0;}
.SQUARESHP {background-color: #00F0F0;}
.TSHP {background-color: #F0A000;}
.LSHP_R {background-color: #0000F0;}
.LSHP_L {background-color: #00F000;}
.SSHP_R {background-color: #F00000;}
.SSHP_L {background-color: #F0F000;}

/* EOF */