
html, body {
    width: 100%;
    height: 100%;
}

img {
    border: 0px;
}

body {
    background: #d7d7d7;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #003366;
    background-color: #030303;
    text-align: center;
    font-family: monospace;
}

div#bootSplash {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #1f1f1f;
    text-align: center;
    font-size: 7em;
    padding-top: 100px;
}

@media (min-width: 310px) {
    div#bootSplash div#logo img#logo {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 310px) {
    div#bootSplash div#logo img#logo {
        width: 250px;
        height: 250px;
    }
}


div#bootSplash div#loadIndicatorWrapper {
    width: 180px; /* 300px x 0.60 */
    height: 11px;
    margin: auto;
    border: #ff6600 solid 2px;
    border-radius: 7px;
}

div#bootSplash div#loadIndicator {
    background-color: #ff6600;
    width: 0px;
    height: 11px;
    border-radius: 4px;
}

/* Canvas */
div#canvasFrame {
    position: relative;

    /* border */
    border-width: 14px 7px 42px 7px;
    -moz-border-image:    url('../img/gameInfo.png') 14 7 42 7 repeat repeat;
    -o-border-image:      url('../img/gameInfo.png') 14 7 42 7 repeat repeat;
    -webkit-border-image: url('../img/gameInfo.png') 14 7 42 7 repeat repeat;
    -webkit-border-image property: url('../img/gameInfo.png') 14 7 42 7 repeat repeat;
    border-style: solid;
    border-image:         url('../img/gameInfo.png') 14 7 42 7 repeat repeat;
    
    background-color: grey; /* shouldn't be visible */
    display: inline-block;
}

div#canvasBackground {
    /**
     * 10 x 20 Squares.
     * width and height set during game startup (tetrisGame > Board)
     */
    background-color: #02060c;
}

/* Where the shapes are drawn. */
div#canvas {
    /**
     * 0 x 0 pixels.
     */
    position: absolute;
}

/* GAME INFO */

div#canvasFrame div#gameInfo {
    position: absolute;
    top: 0px;

    color: #003366;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    z-index: 500;
    width: 100%;
    height: 100%;
}

div#gameInfo div#nextTetromino {
   /** 
     * 100% / total_rows 
     * 100% / 20 = 5%
     * height = Tetromino height 
     * Tetromino height = 2 * 5% = 10%
     */
    height: 10%; 
}


@media (min-height: 480px) {
    div#canvasFrame div#gameInfo {
        font-size: 45px;
    }
}

@media (min-height: 640px) {
    div#canvasFrame div#gameInfo {
        font-size: 70px;
    }
}

@media (min-height: 800px) {
    div#canvasFrame div#gameInfo {
        font-size: 90px;
    }
}

div#gameInfo div#score {
    padding: 32px 7px 0px 7px;
}

/* GAME OVER */

div#gameoverSplash {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 2000;
    display: none;
    background-color: rgba(31, 31, 31, 0.60);
}

@media (min-width: 510px) {
    div#defeatImage img#defeat {
        width: 500px;
        height: 200px;
    }
    div#newGameButton img#newgame{
        width: 142px;
        height: 56px;
    }
}

@media (max-width: 510px) {
    div#defeatImage img#defeat {
        width: 310px;
        height: 124px; /* ( ( 310 * 100 / 500 ) * 200 ) / 100 */
    }
    div#newGameButton img#newgame{
        width: 100px;
        height: 39px; /* ( ( 100 * 100 / 142 ) * 56 ) / 100 */
    }
}

div#defeatImage {
    margin: 20px 0px 50px 0px;
}

div#newGameButton {
    margin: 0px 0px 60px 0px;
}

/* BOARD */

.square {
    position: absolute;
    /* width:  tlol.square_size - (2 x border) */
    /* height: tlol.square_size - (2 x border) */
    border: 1px solid #02060c;
    border-radius: 4px;
    background: transparent url('../img/sqrBackground.png') center top no-repeat;
    background-size: 100%;
    opacity: 1.0;
    z-index: 1000;
    /* http://aerotwist.com/blog/on-translate3d-and-layer-creation-hacks/ */
    -webkit-transform: translate3d(0px,0px,0px);
}

div#gameInfo div#nextTetromino .square {
    background: #003366;
    -webkit-transform: translate3d(0px,0px,0px);
}

div#canvas div.square[buffer="true"] {
    display: none;
}

/** 
 * Colors from The New Teris (Nintendo N64). No blue in this set.
 */
.LINESHP {background-color: #00ffff;}
.SQUARESHP {background-color: #c0c0c0;}
.TSHP {background-color: #ffff00;}
.LSHP_R {background-color: #ff00ff;}
.LSHP_L {background-color: #7700ff;}
.SSHP_R {background-color: #00ff00;}
.SSHP_L {background-color: #ff0000;}
.MUSHROOM {
    background: transparent url('../img/nox.png') center top no-repeat;
    background-size: 100%;
}

/* EOF */
